<div class="container lead mt-5">
<div class="about-box">
            <div class="row">
                <div class="col-10">
                <div class="about-box">
                    <div class="text-box rounded-pill">
                    「world heritage」へ!<br />
                    このWebサイトは「世界遺産に興味がある人」向けのレビューサイトです。<br />
                    世界遺産について知りたい<br />
                    人気のスポットを知りたい！<br />
                    どこにあるか知りたい！<br />
                    何が良いのか知りたい！<br />
                    そんなあなたの気持ちに応えます。
                    </div>
                </div>
            </div>
            
                <div class="col-10 mt-5">
                    <div class="text-box rounded-pill">
                     <h3>「world heritag！」の使い方</h3>
                    気になる世界遺産をキーワードで検索出来ます。<br />
                    お気に入りの世界遺産を採点、レビューすることが出来ます。<br />
                    皆さんの採点結果に応じて世界遺産をランキングします。<br />
                    様々なランキングから世界遺産を調べる事が出来ます。
                    </div>
                </div>
            
</div>
</div>
